<div class="cursus card">

    <div class="header">
        <div class="header_information">
            <img src="/assets/img/casquette-noire-pour-etudiant-diplome.png" alt="">
            <div class="header_info">
                <h3 class="header_title">Cursus academique</h3>
                <p class="header_subtitle lite_gray">Diplomes et formations certifiantes</p>
            </div>
        </div>

        <div class="points_3">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="cursus_academique">

        <div class="profession">
            <p class="title"> DIPET 2 Electronique - <span class="location">@ENSET de Douala</span></p>
            <p class="date_cursus_role"> <span class="date">Aout 2016 - </span> &nbsp; <span class="cursus_role">Gestion d'eclairage d'une
                    maison(Android + Arduino)</span> </p>
            <hr>
        </div>

        <div class="profession">
            <p class="title"> Oracle Certified Associate - <span class="location">@Kentnix Sarl</span></p>
            <p class="date_cursus_role"> <span class="date">Mars 2009 -</span> &nbsp; <span class="cursus_role">Oracle Database 11g
                    Administration</span> </p>
            <hr>
        </div>

        <div class="profession">
            <p class="title"> Oracle SQL Certified - <span class="location">@Kentnix Sarl</span></p>
            <p class="date_cursus_role"> <span class="date">Decembre - </span> &nbsp; <span class="cursus_role">SQL 2, SQL 3, XML</span> </p>
            <hr>
        </div>

        <div class="profession">
            <p class="title"> Licence professionnelle - <span class="location">@Douala Institute of
                    Tech.</span></p>
            <p class="date_cursus_role"> <span class="date"> Octobre 2008 - </span> &nbsp; <span class="cursus_role">Telecommunication &
                    Reseaux</span> </p>
            <hr>
        </div>

        <div class="profession">
            <p class="title"> DEC / BTS - <span class="location">@CCNB Dieppe - Canada.</span></p>
            <p class="date_cursus_role"> <span class="date"> Septembre 2007 - </span> &nbsp; <span class="cursus_role"> Electrotechnique, mention
                    BIEN(major de centre) </span> </p>
            <hr>
        </div>
    </div>
</div>