
    <h3>Points d'interets</h3>
    <p class="header_subtitle"> Simple passe temps pour se faire un peu plaisir </p>
    <div class="logo_divertissement">
        <img src="/assets/img/photo_7.jpg" style="height: 50px;" alt="">
        <img src="/assets/img/photo_9.jpg" style="height: 30px;" alt="">
        <img src="/assets/img/photo1.jpg" alt="">
    </div>
    <div class="logo_divertissement">
        <img src="/assets/img/photo_8.jpg" style="height: 50px;" alt="">
        <img src="/assets/img/photo4.jpg" style="height: 40px;" alt="">
        <img src="/assets/img/photo_5.jpg" style="height: 30px;" alt="">
        <img src="/assets/img/photo_6.jpg" style="height: 40px;" alt="">
    </div>
