<div class="container">

  <section class="section_1">
    <app-profils></app-profils>
  </section>

  

  <section class="section_2 card">
    <app-competence></app-competence>

  </section>

  <section class="right_side ">
    <app-profession title="Experience proffessionnelle" ></app-profession>

    <div class="divertissement">
      <div class="interest_point card">
        <app-point-interet></app-point-interet>
      </div>
      <div class=" language card">
        <app-langue></app-langue>
      </div>
    </div>

    <app-cursus></app-cursus>
  </section>


</div>